<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>lcov</Format>
          <Exclude>[*]*.g.cs</Exclude>
          <ExcludeByFile>**/obj/**,**/bin/**,**/*.g.cs,**/*Designer.cs</ExcludeByFile>
          <UseSourceLink>true</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <NUnit>
    <DefaultTimeout>60000</DefaultTimeout>
    <!-- Run entire test fixtures (classes) in parallel instead of individual test methods -->
    <ParallelizeAssembly>true</ParallelizeAssembly>
    <Workers>6</Workers>
    <LevelOfParallelism>Fixture</LevelOfParallelism>
  </NUnit>
</RunSettings>
